{% extends "layout.html" %}
{% block title %}Workout Remixer App{% endblock %}
{% block page %}Workout Remixer App{% endblock %}

{{ super() }}

{% block content %}
<style>
    body {
        background-color: #0077B6;
    }
</style>
<link rel="stylesheet" href="styles.css">
    <h1> <b>Plan Your Fitness Journey</b> </h1>
    {% if is_authenticated %}
        <p> Welcome {{current_user.username}} </p>
    {% endif %}
    <p><b>Browse Workouts:</b></p>
    
    
 <div class="card-container">
        <div class="card">
            <img src="https://cdn.shopify.com/s/files/1/1214/5580/files/Muscle_Group_Biceps.jpg?v=1601051495" alt="card2">
            <div class="card-content">
                <div class="intro">
                    <button> Button
                    </button>
                </div>
                <h2>Biceps</h2>
            </div>
        </div>
    
        <div class="card">
            <img src="https://cdn.shopify.com/s/files/1/1214/5580/files/Muscle_Group_Abs.jpg?v=1601051622" alt="card3">
            <div class="card-content">
                <h2>Abdominal</h2>
            </div>
        </div>
    
        <div class="card">
            <img src="https://cdn.shopify.com/s/files/1/1214/5580/files/Muscle_Group_Chest.jpg?v=1601050935" alt="card4">
            <div class="card-content">
                <h2>Chest</h2>
            </div>
        </div>
    
        <div class="card">
            <img src="https://cdn.shopify.com/s/files/1/1214/5580/files/Muscle_Group_Back.jpg?v=1601050704" alt="card5">
            <div class="card-content">
                <h2>Back</h2>
            </div>
        </div>

        <div class="card">
            <img src="https://cdn.shopify.com/s/files/1/1214/5580/files/Muscle_Group_Quadriceps.jpg?v=1601051118" alt="card6">
            <div class="card-content">
                <h2>Quadriceps</h2>
            </div>
        </div>

        <div class="card">
            <img src="https://cdn.shopify.com/s/files/1/1214/5580/files/Muscle_Group_Calves.jpg?v=1601051316" alt="card7">
            <div class="card-content">
                <h2>Calves</h2>
            </div>
        </div>

        



    </div>



    </div>
   

    </div>
    
   
    
{% endblock %}